#logout-div {
    text-align: center;
}

.button-container {
    display: inline-block;
    position: relative;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.btn {
    display: block;
    width: 186px;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 9999em !important;
    padding:0px !important;
}
.btn:after {
    position: absolute;
    content: '';
    display: inline-block;
    background: #3bade3;
    background: linear-gradient(45deg, #B294FF, #57E6E6, #FEFFB8, #57E6E6, #B294FF, #57E6E6);
    background-size: 500% auto;
    animation: gradient 3s linear infinite;
    height: 50px;
    width: 372px;
    z-index: -1;
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
    transition: -webkit-transform 400ms ease-in;
    transition: transform 400ms ease-in;
    transition: transform 400ms ease-in, -webkit-transform 400ms ease-in;
}
.btn:hover:after {
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
    animation: unset;
    background-size: unset;
}
.btn span {
    position: relative;
    font-weight: bold;
}
