img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
    width: 150px; /* Set a small width */
}

/* Add a hover effect (blue shadow) */
img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* .favorites-item:hover{
  margin-left: 100px;
  display:block;
} */

.fav-link {
    text-decoration: none;
}
.fav-link:hover {
    text-decoration: none;
}

.item-title {
    text-align: left;
    text-decoration: none;
    font-size: 1.5rem;
}

.price {
    text-align: left;
    font-size: 1.3rem;
}
.changed-price {
    text-align: left;
    font-size: 1.3rem;
    opacity: 0.8;
    margin-top: 10px;
}
.small-price {
  text-align: left;
  font-size: 1rem;
  opacity: 0.8;
}
.more-item-description{
  ont-size: 1rem;
  margin-top: 1rem;
}

.item-description {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: left;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}




.fav-header {
    text-align: center;
    margin-top: 70px;
    font-size: 4rem;
}

.sub-header {
    text-align: center;
    margin-top: 10px;
}

.search-wrapper {
    margin-top: 20px;
    text-align:center;
}
.search-wrapper > input {
    text-align:left;
}

.pop-items {
    margin: 10px 4%;
    font-size: 1.8rem;
}

.userInfo {
    text-align: center;
    margin: 1rem;
    font-size: 1.2rem;
}

.login-form {
    text-align: center;
    margin: 1.5rem 0;
}

.form-input {
    margin-top: 1.2rem;
}

.center-button {
    text-align: center;
    margin: 1.2rem;
}

.upgrade {
    text-align: center;
    margin-top: 1rem;
}
