.row{
    border-style: solid;
    border-color: #003d7f;
    padding-left: 15px;
    margin: 10px;
    display: table !important;
    width: 95%;
}
.item-description,.price,.small-price,#descOverlay{
    color: #adb5bd;
}


.fav-star-icon{
    color: #FEFFB8;
    font-size: 25px;
    cursor: pointer;
}

.fav-star{
    float: right;
    margin: 10px;
}

.rotate {
    -webkit-animation:spin 1s linear;
    -moz-animation:spin 1s linear;
    animation:spin 1s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }