html{
    /*Gradient takes up the full lenngth of the screen*/
    height: 100%;
}

label,h1,h6,li{
    color: #FFF;
}

h2{
    color: #FFF;
    width: 100%;
    margin: 0 auto;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    background-image: radial-gradient(circle at 0% 0%, #373b52, #252736 51%, #1d1e26);
  }
  
#prev-search {
    color: #8bf7f1;
    font-size: 1.5rem;
    margin: auto;
}
select {
    position: relative;
    display: inline-block;
    margin: 0 auto;
}

/*gradient animation */
@keyframes gradient { 
    0%{background-position:0 0}
    100%{background-position:100% 0}
}

/*style of the actual input field*/
.search-bar {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1; /*needs to be above the :focus span*/
    width:100%;
    transition: transform .5s, opacity .25s;
    transform: scale(.993,.94);
}
.input {
    
    /*needs to be relative so the :focus span is positioned correctly*/
    position:relative;
    
    /*bigger font size for demo purposes*/
    font-size: 1.5em;
    
    /*the border gradient*/
    background: linear-gradient(21deg, #10abff, #1beabd);
    
    /*the width of the input border*/
    padding: 3px;
    
    /*we want inline fields by default*/
    display: inline-block;
    
    /*we want rounded corners no matter the size of the field*/
    border-radius: 9999em;
    /*center the search box*/
    display: table;
    margin: 0 auto;
    width:80%;
    border: 10px;

}

body{
    text-align: -webkit-center;
}

.item-container{
    border-style: solid;
    border-color: #041c36;
    padding-left: 15px;
    margin: 10px;
    display: table;
    width: 95%;
}
.item-description,.price{
    color: #adb5bd;
}

.fav-star-icon{
    color: #FEFFB8;
    font-size: 25px;
    cursor: pointer;
}

.fav-star{
    float: right;
    margin: 10px;
}

.rotate {
    -webkit-animation:spin 1s linear;
    -moz-animation:spin 1s linear;
    animation:spin 1s linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }