
/*style of the actual input field*/
.search-bar {
    position: relative;
    display: inherit;
    border-radius: inherit;
    margin: 0;
    border: none;
    outline: none;
    padding: 0 .325em;
    z-index: 1; /*needs to be above the :focus span*/
    width:100%;
}
.input {
    
    /*needs to be relative so the :focus span is positioned correctly*/
    position:relative;
    
    /*bigger font size for demo purposes*/
    font-size: 1.5em;
    
    /*the border gradient*/
    background: linear-gradient(21deg, #10abff, #1beabd);
    
    /*the width of the input border*/
    padding: 3px;
    
    /*we want inline fields by default*/
    display: inline-block;
    
    /*we want rounded corners no matter the size of the field*/
    border-radius: 9999em;
    /*center the search box*/
    display: table;
    margin: 0 auto;
    width:80%;
}
